﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OpenRecord.aspx.cs" Inherits="SB.WebPortal.OpenRecord" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    
    <form id="form1" runat="server">
    <div id="navi" runat="server">
        <asp:Button ID="submit" Text="Opslaan" runat="server" onclick="submit_Click" />
    </div>
    <div id="inhoud" runat="server">
    
    </div>
    </form>
</body>
</html>
