﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="REB.ESS._Default" %>

<!DOCtype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form runat="server">
        <center>
		    <img src="img/brantano.jpg" style="width:316px;height:119px;" alt="" /><br /><br />
		    <div style="width:450px;height:50px;border:0px solid black;text-align:center;margin-bottom:-10px;">
			    <a href="Default.aspx">Personeelsgegevens</a> | <a href="PeriodeTotaalOverzicht.aspx">PeriodeTotaalOverzicht</a> 
		    </div>
		    <div style="width:350px;border:1px solid black;text-align:left; padding: 5px">
		
		    <!--<form name='formulier2' Action='../../cgi-bin/udpfront.cgi' method="post">-->
				    <h2>Personeelsgegevens</h2>
				    Personeelsnummer: <br />
                    <asp:TextBox ID="salnum" runat="server" Enabled="false" />
				        <br />				
                     Naam: <br />
				    <asp:TextBox  id="naam" runat="server"  />    <br />
                     Voornaam: <br />
				    <asp:TextBox  id="init" runat="server" />    <br />
                     Tel.: <br />
				    <asp:TextBox id="telef" runat="server" />    <br />
                     Adres: <br />
				    <asp:TextBox id="adres" runat="server" />    <br />
                    Postcode: <br />
				    <asp:TextBox id="postcode" runat="server" />    <br />
                    Plaats: <br />
				    <asp:TextBox id="plaats" runat="server" />    <br />
				    <!--<input type="button" value="Verzenden" class='button' runat="server" />-->
                    <asp:Button Text="Verzenden" runat="server" ID="btnSubmit" 
                    onclick="submit" />

		    <!--</FORM>-->

		    </div>
	    </center>
    </form>
</body>
</html>
