﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="REB.ESS.Login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <center>
		    <img src="img/brantano.jpg" style="width:316px;height:119px;" alt="" /><br /><br />
		    <div style="width:350px;height:50px;border:0px solid black;text-align:center;margin-bottom:-10px;">
			    Start | Einde | Saldo | Dialoog | Help
		    </div>
		    <div style="width:350px;border:1px solid black;text-align:left; padding: 5px">
            <h2>Aanmelden</h2>
                <asp:TextBox ID="login" runat="server" />
                <asp:TextBox ID="pass" runat="server" TextMode="Password" />
                <asp:Button ID="verzenden" runat="server" />
            </div>
        </center>
    </div>
    </form>
</body>
</html>
